
@media only screen and (max-width: 700px){

    main{
        .first{
            padding: 30px 15px;
            height: auto;

            .center{
                transform: translateY(0) !important;

                .title{
                    margin-bottom: 45px !important;
                }

                .registration-block{
                    min-width: 270px !important;
                    flex-direction: column;
                    align-items: center;

                    .description{
                        width: 100% !important;
                        margin-right: 0 !important;
                        margin-bottom: 30px;
                    }

                    .journal{
                        display: none;
                    }

                    form{
                        width: 100% !important;

                        .form-title{
                            text-align: center !important;
                        }
                    }
                }
            }
        }

        .content{
            .button{
                width: 200px;
                font-size: 20px;
            }
        }
    }
}
